html, body{
    height: 100%;
    /* padding: 0px;
    margin: 0px; */
}
.container{
    /* padding: 5px; */
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    /* height: 100%; */

    /* justify-content: flex-end;
    align-items: flex-end; */
    /* align-items: center;*/
   
    /* justify-content: center; */
    /* justify-content: flex-end; */
}

.container > div{
    padding: 10px;
    text-align: center;
    color: black;
}
.container > div:nth-child(1){
    background-color: #96ceb4;
    
}

.container > div:nth-child(2){
    background-color: #ff6f69;
    
}

.container > div:nth-child(3){
    background-color: #96ceb4;
    
}


/* .home{
    margin-right: auto;
} */
/* 
.container > div{
    flex:1
}
.container > .home{
    flex: 7;
} */
/* 
.container > .about{
    align-self: flex-start;
}
.container > .home{
    align-self: flex-end;
} */