html, body{
    height: 100%;
    /* padding: 0px;
    margin: 0px; */
}
.container{
    /* padding: 5px; */
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    /* height: 100%; */

    /* justify-content: flex-end;
    align-items: flex-end; */
    /* align-items: center;*/
   
    /* justify-content: center; */
    /* justify-content: flex-end; */
}

.container > div{
    padding: 10px;
    text-align: center;
    color: black;
}
.container > div:nth-child(1){
    background-color: #96ceb4;
    
}

.container > div:nth-child(2){
    background-color: #ff6f69;
    
}

.container > div:nth-child(3){
    background-color: #96ceb4;
    
}


.home{

    /* margin-right: auto; */
    /* flex : 1 1 300px; */
    /* flex: 1 1 600px; */
    order: 3;
}

.contact{
    order: 4;
}

 .about{
    /* flex : 1 1 400px; */
    order: 1;
 }
/* 
.container > div{
    flex:1
}
.container > .home{
    flex: 7;
} */
/* 
.container > .about{
    align-self: flex-start;
}
.container > .home{
    align-self: flex-end;
} */




@media all and (max-width: 900px){
    .container{
        flex-wrap: wrap;
    }

    /* .container > ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    } */
    .about{
        order: 5;
    }

    .container > div{
        flex:1 1 100%;
    }
    
}