.container{
    
    display: flex;
    background-color: #96ceb4;
    color: bisque;
    font-weight: bold;
    /* flex-direction: row; */

}

ul{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.container > ul >li{

    padding : 0px 5px 0px 5px;
    list-style: none;
}

.search{
    
    flex: 1;
}


@media all and (max-width: 400px){

   
    .container ul{
        flex-wrap: wrap;
        padding: 0px;
        text-align: center;
    }


    ul > li{
        flex: 1 1 100%;
    }
    .search{
        order: 1;
    }
    
}